
<h2>Edit personal info</h2>
<h1>Coming soon...</h1>

<hr />

<h1>Fresh Fruits &amp; Salads</h1>
<blockquote class="blockquote">
    <p>The best fruits and salads can be found here.</p>
    <footer class="blockquote-footer">G. Ramsey</footer>
</blockquote>

<h2>Nutrition Info</h2>
<div "table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Fruit</th>
                <th>Vitamins</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Banana</td>
                <td>A, C, B6</td>
            </tr>
            <tr>
                <td>Watermelon</td>
                <td>A, C</td>
            </tr>
            <tr>
                <td>Apple</td>
                <td>A, C</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quo ipsum quia obcaecati autem, atque quos
        iure, repellat in aut?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum culpa sit porro dignissimos, facilis aspernatur
        voluptatem nemo quibusdam nisi magni iure possimus aliquid error accusantium, cumque sint molestias iste
        vitae fugiat, consectetur architecto expedita aperiam quis. Eligendi assumenda accusantium voluptatibus
        officiis, sapiente autem facilis libero magnam rerum, quod, quam, qui.
    </p>
</div>
