@model NeverGoodEnough.Models.ViewModels.GameObject.DetailsGameObjectVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

@Html.Partial("_ObjectCard", @Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "All")
</p>
