@{
    ViewBag.Title = "About";
}

<h3>Description:</h3>
<p>On this website you are able to create ideas for games.
Create your game and add to it ideas for Mechanics and Victory conditions and little by little the idea will be born.</p>

<p>Have in mind that every game idea will never be the best... it will never be good enough to satisfy you!</p>



