@{
    ViewBag.Title = "Contact";
}
<h2>Contacts</h2>

<address>
    On the other side of the river.<br />
    FishHouse, Fe 11-3<br />
    <abbr title="Phone">P:</abbr>
    +359 882 333 111
</address>

<address>
    <strong>Support:</strong> <a href="#">NextToTheMarketing@kidding.com</a><br/>
    <strong>Marketing:</strong> <a href="#">NextToTheSupport@kidding.com</a>
</address>
