@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron ">
    <h1 class="text-center">Welcome to never good enough!</h1>
    <p class="lead text-center">The place where you can create ideas for game mechanics.</p>
</div>

<h1>@Html.ActionLink("About", "About", "Home")</h1>

<h1>@Html.ActionLink("Contacts", "Contact", "Home")</h1>
