@model NeverGoodEnough.Models.ViewModels.GameVictoryConditions.DetailsGameVictoryConditionVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

@Html.Partial("_VictoryConditionCard", @Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "MyAll")
</p>
