<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="NeverGoodEnough" connectionString="Server=06a9b09a-1d8b-4be5-a6e3-a75a00f5fa63.sqlserver.sequelizer.com;Database=db06a9b09a1d8b4be5a6e3a75a00f5fa63;User ID=vhnvawpgprabinwd;Password=hzQMMgVTNgebamERTt3FQ6SRNF24UY73KKXn87ARDUk3XHpyjss8MuAkQ78fn27X;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>